body{
 background-color:#cc9966; font-family: georgia, times, serif; font-size: 19px; 
 } 
#mainB{
	color: teal;
}
#equipment{
	color:teal
}
#gallery{
	color: teal
}
#audioFile{ 
	color: teal
}
h1{
	
	text-align:center
}
p{
	text-align:justify
}
 
 a:link {
	color:lime;
	text-decoration: none;
}
 a:visited {
	color: black;
}
 a:hover {
	color:green;
	text-decoration:underline;
}
 
 
 
 
 
 
 
 UL { 
        background: yellow; 
        margin: 12px 12px 12px 12px;
        padding: 3px 3px 3px 3px;
                                    
      }
      LI { 
        color: orange;                
        background: red;            
        margin: 12px 12px 12px 12px;
        padding: 12px 0px 12px 12px; 
        list-style: none             
                                     
      }
      LI.withborder {
        border-style: dashed;
        border-width: medium;        
        border-color: lime;
      }
 </UL>


